<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>{{mayusculas tienda.nombre}}</h5>
                <p>{{tienda.mensajeBienvenida}}</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p>&copy; 2024 {{tienda.nombre}}. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>