<div class="row align-items-center">
    <div class="col-lg-6">
        <h1 class="display-5 mb-4">Sobre {{tienda.nombre}}</h1>
        <p class="lead">Somos una tienda comprometida con la calidad y el estilo.</p>
        <p>Desde 2024, ofrecemos las mejores prendas seleccionadas especialmente para ti.</p>
        
        <div class="row mt-4">
            <div class="col-6">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <i class="fas fa-tshirt fa-3x text-primary mb-3"></i>
                        <h5>Calidad</h5>
                        <p>Prendas seleccionadas</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <i class="fas fa-truck fa-3x text-primary mb-3"></i>
                        <h5>Envíos</h5>
                        <p>A todo el país</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <img src="/img/tienda.jpg" alt="Nuestra tienda" class="img-fluid rounded-3 shadow">
    </div>
</div>